.passcode-header {
    color: #c44e00;
}

.retrive-page-container {
    padding: 25px;
}

.forgot-passcode {
    float: left;
    padding: 10px;
}

a {
    text-decoration: none;
}

.inactive-device{
    background-color: #ecd3b7d6;
    padding: 12px;
    border-radius: 6px;
}

.inactive-device-header{
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    color: rgb(255, 19, 19);
}

.inactive-device-text{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: rgb(35, 69, 81);
}

.forgot-passcode-wind {
    padding: 25px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 0px 8px 3px #a8a8a8;
    border-radius: 8px;
    width: fit-content;
    overflow: hidden;
    margin-top: 12%;
}

.passcode-wind {
    padding: 25px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 8px 3px #a8a8a8;
    border-radius: 8px;
    width: fit-content;
    overflow: hidden;
    margin-top: 12%;
}

.verifyotp-win {
    margin: 30px auto;
    transition: .3s ease;
}

.verify-otp-container {
    padding: 0px 20px;
}

.verify-otp-wind {
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 3px #a8a8a8;
    padding: 20px;
    color: #c44e00;
}

.timout {
    color: #1E367B;
}

@media only screen and (max-width : 600px) {
    .verify-otp-container {
        margin: 30% auto;
    }

    .passcode-wind {
        margin-top: 20%;
    }

    .forgot-passcode-wind {
        margin-top: 35%;
    }
}