# Node modules
node_modules

# Production build folder (already generated during the build stage)
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency lock files if not used
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.development
.env.production
.env.*.local

# Miscellaneous
.DS_Store
.idea
.vscode
*.swp
*.log
*.tmp

# Git files
.git
.gitignore

# Docker-specific files
.dockerignore
Dockerfile
