.test-outerlayout{
    width: fit-content;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 4px 2px #818181;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}

.locker-dynamic-row{
    display: flex;
    flex-direction: column;
}

.dynamic-display-locker{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
